<!DOCTYPE html>
<html>
<body>



    <script>
    
    
    function naver(){
        window.location.href='https://www.naver.com'
    }
    function google(){
        window.location.href='https://www.google.com'
    }
    function daum(){
        window.location.href='https://www.daum.net'
    }
    
    function led_on(){
        window.location.href='http://192.168.30.204:5028/led/on'
    }
    function led_off(){
        window.location.href='http://192.168.30.204:5028/led/off'
    }
    </script>

    <input type=button value=NAVER onclick='naver()'>
    <input type=button value=GOOGLE onclick='google()'>
    <input type=button value=DAUM onclick='daum()'>
    
    <input type=button value="LED ON" onclick="led_on()">
    <input type=button value="LED OFF" onclick="led_off()">

</body>

</html>