<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sharing in RaspberryPi</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>라즈베리파이 공유 공간</h1>
    <textarea></textarea>
    <input type=button value='공유' onclick='share()'>
    <div>
    </div>
    

    <script>
    $(textarea).click(function(){
        $(div).append('<p>'+$(this).val('')+'<button class='removeShare'>삭제</button></p>')
    });
    
    $(document).on('click','p > .removeShare', function(){
        $(this).parent().remove();
    });
    </script>

    

</body>

</html>