<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>여기는 LED제어 하는 곳</h1>
    <input type="button" value="LED ON" onclick="led_on()">
    <input type="button" value="LED OFF" onclick="led_off()">


    <script>
        let led_on = function(){
            fetch('/led/on')
        }

        let led_off = function(){
            fetch('/led/off')
        }
    </script>
</body>
</html>